include ../_config
include ../mixins/_card
.cards.wrapper
    +card(cardEdteam).card.card-edteam
        img.img(src="/assets/card-edteam/diagram.png")
        .floating
            img.img(src="/assets/card-edteam/go.png")
    +card(cardStandard).card.card-primary
    +card(cardStandard).card.card-info
    +card(cardStandard).card.card-warning
    +card(cardStandard).card.card-secondary
    +card(cardStandard).card.card-danger
    +card(cardArticle).card.card-article#card-article