- siteTitle = "Grid Templates"
- pageTitle = "Enjoy the great Templates"
- author = "@efscomplex"
- 
    routes = [
        {path:"/",label:"Home"},
        {path:"/pug/views/new-article.html",label:"New Article"},
        {path:"/pug/views/about.html",label:"About Us"},
        {path:"/pug/views/contact.html",label:"Contact"},
    ]
- 
    cardEdteam = {
        title:"Compilado",
        text:"Conviverte el código a binarios que lee el sistema operativo.",
    }
- 
    cardStandard = {
        title:"Header",
        body:`<article>
            <h1 style="font-size:2.2rem;"> title of my article</h1>
            <p> a paragraph lorem ipsum </p>
            <footer> a footer of my article </footer>
        </article>`,
    }
- 
    cardArticle = {
        mainImg:"https://images.unsplash.com/photo-1537655226665-44b4f7ad2351?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=80",
        title:"Adventure Cheescake Brownie",
        body:`<article>
            <p> We will build a small game during this tutorial. You might be tempted to skip it because you’re not building games — but give it a chance. The techniques you’ll learn in the tutorial are fundamental to building any React app, and mastering it will give you a deep understanding of React. </p>
        </article>`,
    }