@import 'utils/color-vars';

@mixin colorTheme {
    body {
        @include getColorCustomProperties;
        background-color:#222;
        color:var(--text);
        .header {
            background-color:var(--primary);
        }    
    }
    .btn {
        --btn-c:var(--text);
       --btn-bg-c:var(--primary);
    }
    input.search { 
        background-color:var(--text); 
        color:var(--secondary);
    }

    $card-bg-c:transparent !default;
    $card-header-bg-c:transparent !default;
    .card{
        .card-header{
            background-color:var(--card-header-bg-c,#{$card-header-bg-c});
        }
        background-color:var(--card-bg-c,#{$card-bg-c});
    }
    $colors:('primary','secondary','info','danger','warning');
    @each $color in $colors {
        .card-#{$color}{
            $c:getColor($color);
            @if $c==null {$c:rgba(white,0);}
            --card-bg-c:#{$c};
            --card-header-bg-c:#{lighten($c,20)};
        }
    }

}